<header class="main-header">
    <!-- Logo -->
    <a href="~/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <n class="logo-mini"><b>WIN</b>SHOP</n>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>WIN</b>SHOP</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!--User Account -->
                @{
                    var userAccount = Converter.CookieToUserAccount(User.Identity.Name);
                }
                <!-- Messages: style can be found in dropdown.less-->
                <!-- Notifications: style can be found in dropdown.less -->
                <!-- Tasks: style can be found in dropdown.less -->
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="@userAccount.Photo" class="user-image" alt="User Image">
                        <span class="hidden-xs">@userAccount.FullName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="@userAccount.Photo" class="img-circle" alt="User Image">

                            <p>
                                @userAccount.FullName
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="~/Account" class="btn btn-default btn-flat">Tài khoản</a>
                            </div>
                            <div class="pull-right">
                                <a href="~/Account/Logout" class="btn btn-default btn-flat">Thoát</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->

            </ul>
        </div>
    </nav>
</header>